<div class="container">
  <h2 class="text-center">
    <mat-icon>person_add</mat-icon>
    Create User
  </h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- Username Field -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Username</mat-label>
      <input
        matInput
        formControlName="username"
        placeholder="Ingrese 4 letras en mayúscula"
        (input)="convertToUppercase($event)"
      />
      <mat-error *ngIf="username?.invalid && username?.touched">
        <div *ngIf="username?.errors?.['required']">Username es requerido.</div>
        <div *ngIf="username?.errors?.['invalidUsername']">
          El username debe tener exactamente 4 letras en mayúscula.
        </div>
      </mat-error>
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Ingrese su contraseña"
      />
      <mat-error *ngIf="password?.invalid && password?.touched">
        <div *ngIf="password?.errors?.['required']">Password es requerido.</div>
        <div *ngIf="password?.errors?.['minlength']">
          Password debe tener al menos 6 caracteres.
        </div>
      </mat-error>
    </mat-form-field>

    <!-- Role Field -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="role?.invalid && role?.touched">
        Rol es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="w-100"
      [disabled]="isLoading || userExists || userForm.invalid"
    >
      <mat-icon>save</mat-icon>
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
      Crear Usuario
    </button>
  </form>
</div>