.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  z-index: 1200;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar-container.open {
  transform: translateX(0);
}

.sidebar {
  background-color: #1c2b36;
  color: #fff;
  width: 260px;
  height: 100%;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.sidebar-header h3 {
  margin: 0 0 1rem;
  font-size: 1.2rem;
}

.sidebar-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
}

.sidebar-nav a:hover {
  text-decoration: underline;
}

.sidebar-backdrop {
  display: none;
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 100%;
  }

  .sidebar {
    width: 260px;
    position: absolute;
    z-index: 1300;
  }

  .sidebar-backdrop {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }

  .icon {
    margin-right: 8px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }

  lucide-icon {
    width: 20px;
    height: 20px;
    stroke: currentColor;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
  
  
}

@media (min-width: 769px) {
  .sidebar-container {
    transform: translateX(0) !important;
  }

  .sidebar-backdrop {
    display: none !important;
  }
}
