<div class="sidebar-container" [class.open]="open">
  <div class="sidebar-backdrop" (click)="closeSidebar()"></div>

  <aside class="sidebar" [@slideInOut]="open ? 'in' : 'out'">
    <div class="sidebar-header">
      <h3>CrediDalp</h3>
    </div>

    <nav class="sidebar-nav">
      <a [routerLink]="['/dashboard']">
        <lucide-icon [name]="icons.dashboard" class="icon" /> Dashboard
      </a>
      <a [routerLink]="['/list-user']">
        <lucide-icon [name]="icons.usuarios" class="icon" /> Usuarios
      </a>
      <a [routerLink]="['/list-client']">
        <lucide-icon [name]="icons.clientes" class="icon" /> Clientes
      </a>
      <a [routerLink]="['/loans']">
        <lucide-icon [name]="icons.prestamos" class="icon" /> Préstamos
      </a>
    </nav>
  </aside>
</div>
