<h2 mat-dialog-title>
  <mat-icon>payment</mat-icon>
  Realizar Pago
</h2>
<mat-dialog-content>
  <form [formGroup]="paymentForm">
    <!-- Monto pendiente de la cuota -->
    <div class="payment-amount">
      <span>
        Monto Pendiente de la Cuota: 
        {{
          ((data.installment.interestAmount - data.installment.interestPaid) +
           (data.installment.capitalAmount - data.installment.capitalPaid))
           | number:'1.2-2'
           | currency:'PEN':'symbol':'1.2-2' 
        }}
      </span>
    </div>
    
    <!-- Campo para ingresar el monto a pagar -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Monto a Pagar</mat-label>
      <input
        matInput
        type="number"
        formControlName="amountToPay"
        placeholder="Ingrese el monto a pagar"
        (input)="validateAmount()"
      />
      <mat-icon matSuffix>attach_money</mat-icon>
      <mat-error *ngIf="paymentForm.get('amountToPay')?.hasError('required')">
        El monto a pagar es obligatorio.
      </mat-error>
      <mat-error *ngIf="paymentForm.get('amountToPay')?.hasError('min')">
        El monto a pagar debe ser mayor a 0.
      </mat-error>
      <mat-error *ngIf="paymentForm.get('amountToPay')?.hasError('max')">
        El monto no puede ser mayor que {{ data.installment.amount | currency:'PEN':'symbol':'1.2-2' }}.
      </mat-error>
    </mat-form-field>
    

    <!-- Campo para seleccionar el método de pago -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Método de Pago</mat-label>
      <mat-select formControlName="paymentMethod">
        <mat-option value="EFECTIVO">
          <mat-icon>money</mat-icon>
          Efectivo
        </mat-option>
        <mat-option value="TRANSFERENCIA">
          <mat-icon>account_balance</mat-icon>
          Transferencia
        </mat-option>
        <mat-option value="YAPE">
          <mat-icon>smartphone</mat-icon>
          Yape
        </mat-option>
        <mat-option value="PLIN">
          <mat-icon>smartphone</mat-icon>
          Plin
        </mat-option>
      </mat-select>
      <mat-error *ngIf="paymentForm.get('paymentMethod')?.hasError('required')">
        Seleccione un método de pago.
      </mat-error>
    </mat-form-field>

    <!-- Campo para seleccionar la fecha de pago -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha de Pago</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="paymentDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="paymentForm.get('paymentDate')?.hasError('required')">
        La fecha de pago es obligatoria.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">
    <mat-icon>cancel</mat-icon>
    Cancelar
  </button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="paymentForm.invalid">
    <mat-icon>payment</mat-icon>
    Pagar
  </button>
</mat-dialog-actions>
