/* Estilos globales para los modales */
.mat-dialog-container {
    border-radius: 8px !important;
    padding: 0 !important;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
